* {
    box-sizing: border-box;
}

/* image slider start */

.img-filter {
    filter: brightness(40%);
}

/* image slider end */

.navbar-brand-color {
    color: #4A4A4A;
}

p {
    color: #777777;
}

.btn-primary-color {
    color: #289bde;
    background-color: #FFFFFF;
}

.btn-primary-color:hover {
    background-color: rgb(22, 17, 17);
    color: aliceblue;
}

.text-bg-primary-color {
    /* color: #635e11; */
    background-color: #289bde;

    /* height: 250px; */

}